<html>
    <head>
        <title>django blog</title>
    </head>
    <body>

        <div>
            <h1><a href = "/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14/06/2014, 12:22</p>
            <h2><a href = "">My first post</a></h2>
            <p>This pattern will tell Django that views.post_list is the right place to go if someone 
                enters your website at the 'http://127.0.0.1:8000/' address.</p>
        </div>

        <div>
            <p>published: 13/04/2914, 12:44</p>
            <h2><a href = "">My second blog post</a></h2>
            <p>This pattern will tell Django that views.post_list is the right place to go if someone 
                enters your website at the 'http://127.0.0.1:8000/' address.</p>
        </div>
    </body>
</html>